<%- include('partials/header') %>

<div class="card">
    <img id = "pokemonImg" src = <%= imgURL %> alt= "Pokemon Image"> 
    <div id = "pokemonText">
    <p><b>Pokemon name</b>: <%= name %></p>
    <p> <b>Pokemon type</b>: <%= type %></p>
    <p> <b>Description</b>: <%= description%></p>
    </div>
</div>

<%- include('partials/header') %>