<%- include('partials/header') %>

    <img src = <%= imgURL %> alt= "Pokemon Image">
    <p> <b>Pokemon name</b>: <%= name %></p>
    <p> <b>Pokemon type</b>: <%= type %></p>
    <p> <b>Description</b>: <%= description%></p>

<%- include('partials/header') %>